<div class="container">
  <h3>Cocktails</h3>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-4">
        <p><%= cocktail.name %></p>
      </div>
    <% end %>
  </div>
</div>
