<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1551024709-8f23befc6f87)">
  <p>where you find the best drink recipes</p>
</div>

<div class="container">
  <div class="row py-5">
    <% @cocktails.each do |cocktail| %>
      <div class="col-4">
        <%= link_to cocktail_path(cocktail), {:class=>"a_link"} do %>
          <p class="bkgd-img" style="background-image: url(<%= cocktail.image_url %>)">
            <%= cocktail.name %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
