<div class="navbar sticky-bottom">
  <div class="container-fluid">
      <div class="col-9">
        <h5><%= link_to "Created at Le Wagon", "https://www.lewagon.com/pt-BR", class:"no_link", target: :_blank %></h5>
      </div>
      <div class="col-3 social_media">
        <h1>
        <%= link_to 'https://github.com/danielsobretudo', class:"no_link", target: :_blank do %>
          <i class="fab fa-github-square"></i>
        <% end %>
        <%= link_to 'https://www.linkedin.com/in/daniel--castro/', class:"no_link", target: :_blank do %>
          <i class="fab fa-linkedin"></i>
        <% end %>
        </h1>
      </div>
  </div>
</div>
