<div class="navbar sticky-top navbar-light bg-light">
  <div class="container-fluid">
    <div><i class="fas fa-glass-martini"></i></div>
    <div><%= link_to 'Add Your Drink', new_cocktail_path, class:"btn btn-success" %></div>
  </div>
</div>
