<div class="navbar sticky-top">
  <div class="container-fluid">
      <div class="col">
        <%= link_to root_path do %>
          <i class="fas fa-glass-martini btn-success rounded-circle"></i>
        <% end %>
      </div>
      <div class="col-8 page_title"><h3><%= link_to "Mister Cocktail", root_path, class:"no_link"%></h3></div>
      <div class="col add_button"><%= link_to 'Add Your Drink', new_cocktail_path, class:"btn btn-success rounded-pill" %></div>
  </div>
</div>

