<div class="navbar sticky-top navbar-light bg-light">
  <div class="container-fluid">
    <div>
      <%= link_to root_path do %>
        <i class="fas fa-glass-martini btn-success rounded-circle"></i>
      <% end %>
    </div>
    <div><h3><%= link_to "Mister Cocktail", root_path, class:"no_link"%></h3></div>
    <div><%= link_to 'Add Your Drink', new_cocktail_path, class:"btn btn-success rounded-pill" %></div>
  </div>
</div>
